@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap");

* {
  font-family: "poppins", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  background: #1c1c1c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.wrapper h2 {
  font-size: 42px;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.rpsButton {
  height: 100px;
  width: 100px;
  font-size: 48px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  border: none;
}

#Scissors {
  margin-bottom: 20px;
}

.resultContainer {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
}

#result {
  margin-bottom: 30px;
}

#endGameButton {
  width: 150px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: red;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.1s;
}

#endGameButton:hover {
  box-shadow: 0px 0px 5px red, 0px 0px 20px red;
}

@media (max-width: 450px) {
  .wrapper h2 {
    font-size: 32px;
  }

  .rpsButton {
    height: 80px;
    width: 80px;
    font-size: 38px;
  }

  .resultContainer {
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
  }
}
